<form action="" class="container" #registerFrom="ngForm">
    <h4>Please Signup</h4>
    <input type="email" placeholder="email here" name="email" id="" required
    pattern="^[a-z0-9]+@[a-z]+\.[a-z]{2,3}$"
    ngModel
    #email="ngModel">
    <h5 class="red-text"[hidden]="email.valid || email.untouched">Enter Correct email</h5>
    <input type="password" placeholder="password here" 
    name="password" id="" 
    required
    minlength="6"
    ngModel
    #password="ngModel"
    >
    <h5 class="red-text"[hidden]="password.valid || password.untouched">Password is Required and Greater than 6</h5>
    <button class="btn-green" [disabled]="registerFrom.invalid" (click)="register(registerFrom)">Signup</button>
    <button class="btn-red" (click)="reset(registerFrom)">Reset</button>
</form> 